init_config:

instances:
{% for target in ping_targets %}
  - host: {{ target.host }}
    name: {{ target.name }}
    collect_response_time: {{ target.collect_response_time | default('true') }}
{% if target.timeout is defined and target.timeout %}
    timeout: {{ target.timeout }}
{% endif %}
    tags:
      - "target:{{ target.name }}"
{% for tag in target.tags.split(',') %}
      - "{{ tag | trim }}"
{% endfor %}
{% endfor %}
